RewriteEngine On
RewriteCond $1 !^(index\.php|robots.txt|assets)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L] 
# <IfModule lsapi_module> AddHandler application/x-httpd-alt-php74___lsphp .php .php5 .phtml </IfModule>